<div class="navbar">
    <h1>
        <a class="home-logo" href="{{ site.url }}">
            {{ site.title }}
        </a>
    </h1>

    <nav>
        <a href="{{ site.url }}">Home</a>
        {% assign pages_list = site.pages %}
        {% for node in pages_list %}
            {% if node.title != null %}
                {% if node.layout == "page" %}
                    <a  href="{{ node.url }}">{{ node.title }}</a>
                {% endif %}
            {% endif %}
        {% endfor %}
    </nav>
</div>
